.project
.metadata
.classpath
.settings/
**/Thumbs.db
target
*.iml
*.iws
*.ipr
.idea/
.DS_Store
.factorypath
.vscode
.env
settings.xml

kafka.truststore.jks*
kafka.keystore.jks*
truststore/sim-reg-user-keystore.jks
truststore/wc-test-kafka-cluster-truststore.jks
truststore/sim-reg-user-keystore-secret.yaml
truststore/wc-test-kafka-cluster-truststore-secret.yaml
